@media (max-width: 1200px) 
    .first
        &__title
            font-size: 34px
            max-width: 80%
        &__content
            width: 700px
        &__btn
            margin-left: 20px
        .slick-dots
            right: 20px
            .slick-active
                button
                    width: 50px
        .next
            right: 20px
        .prev
            right: 87px
        &__social
            left: 100px
        &__bottom
            display: none
    .services
        padding: 70px 0 120px
        &__slide
            grid-template-columns: 1fr 1fr
            grid-gap: 30px 40px
        &__image
            display: none
        .prev
            right: 67px
            left: unset
        .next
            right: 0
            left: unset
    .our-projects
        &::before
            width: 900px
            height: 900px
            right: -400px
        &__block
            grid-gap: 45px
        &__link
            height: 100px
    .check-in
        &__block
            width: 500px
            padding: 60px 50px
        &__title
            margin-bottom: 30px
            span
                font-size: 24px
    .why
        &__image
            display: none
        &__block
            width: 100%
            grid-template-columns: 1fr 1fr
            grid-gap: 45px
        &__text
            max-width: 100%
    .how-work
        &__block
            width: 100%
            &::before
                left: 85px
        &__content
            margin-left: 70px
    .request
        padding-top: 20px
        &__image
            display: none
        &__form
            margin: 0 auto
        &__text
            font-size: 120px

@media (max-width: 767px)
    .first
        &__content
            width: calc(100% - 30px)
        &__img
            min-height: 640px
        &__title
            font-size: 34px
            line-height: 130%
        .slick-dots
            display: none !important
        &__social
            left: 50px
            bottom: 45px
            &::before
                right: -40px
            a
                svg
                    max-width: 20px
                    max-height: 20px
                    height: 100%
                    width: 100%
                &:not(:last-child)
                    margin-right: 14px
        .next
            svg
                width: 40px
                height: 40px
        .prev
            right: 70px
            svg
                width: 40px
                height: 40px
    .services
        &__title
            margin-bottom: 30px
        &__block
            grid-template-columns: 1fr
        &__slide
            grid-template-columns: 1fr
            grid-gap: 20px
        &__subtitle
            font-size: 16px
            margin-bottom: 14px
        &__text
            font-size: 14px
        .next
            svg
                width: 35px
                height: 35px
        .prev
            right: 50px
            svg
                width: 35px
                height: 35px
    .our-projects
        &__block
            grid-template-columns: 1fr
            margin-bottom: 50px
        &__image
            height: 280px
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 16px
        &__link
            height: 70px
            a
                font-size: 14px
                &::after
                    width: 40px
                    height: 40px
                    left: -40px
        &__all
            font-size: 15px
            &::after
                width: 50px
                height: 50px
                left: -50px
    .check-in
        margin-bottom: 70px
        &::before
            width: 40%
        &__block
            width: calc(100% - 80px)
            padding: 50px 40px
            height: 460px
        &__title
            font-size: 18px
            span
                font-size: 24px
                line-height: 110%
        &__subtitle
            font-size: 13px
        &__fields
            grid-template-columns: 1fr
    .why
        &__block
            grid-template-columns: 1fr
        &__subtitle
            font-size: 18px
            margin-bottom: 14px
            svg
                max-width: 34px
                max-height: 34px
        &__text
            margin-left: 50px
    .how-work
        &__title
            font-size: 24px
            margin-bottom: 30px
        &__subtitle
            font-size: 15px
        &__stage
            min-width: 45px
            font-size: 14px
        &__content
            margin-left: 50px
            &::after
                left: -30px
                width: 24px
                height: 24px
        &__contentTitle
            font-size: 15px
        &__contentText
            font-size: 12px
            line-height: 130%
        &__block
            &::before
                left: 65px
        &__item
            &:not(:last-child)
                .how-work__content
                    padding-bottom: 50px
    .request
        padding-bottom: 100px
        &__form
            width: 100%
        &__title
            font-size: 24px
            margin-bottom: 16px
        &__subtitle
            margin-bottom: 30px
        &__input
            font-size: 15px
            padding-bottom: 8px
            &:not(:last-child)
                margin-bottom: 30px
        &__btn
            margin-left: 20px
            &::after
                width: 40px
                height: 40px
                left: -40px
        &__text
            font-size: 58px
