@media (max-width: 1200px)
    .creator
        padding: 70px 0
        &__image
            min-width: 320px
            max-width: 320px
            height: 100%
            margin-top: 70px
        &__info
            margin-left: 0
        &__title
            margin-bottom: 20px
        &__name
            width: 450px
            padding-left: 200px
        &__text
            p
                font-size: 14px
                line-height: 18px
        &__keyDesign
            display: none
    .our-team
        padding-bottom: 120px
        &__block
            max-width: 400px
        &__title
            margin-bottom: 30px
        &__image
            right: -40px
            top: 30px
            &::before
                height: 200px
                width: 200px
            img
                width: 300px
        &__text
            p
                font-size: 14px
                line-height: 20px
    .about
        &__image
            left: -30px
            img
                width: 320px
                height: auto
        &__block
            margin-left: 320px
        &__title
            margin-bottom: 20px
        &__text
            p
                font-size: 14px
                line-height: 20px
    .stat
        &__num
            font-size: 38px
            line-height: 100%
        &__text
            font-size: 13px
    .useful
        &__keyDesign
            display: none
        &__block
            height: 100%
    .features
        &__block
            grid-template-columns: 1fr 1fr
            grid-gap: 40px 10px
        &__item
            &:first-child
                grid-column-start: 1
                grid-column-end: 3
