@media (max-width: 1200px)
    .service-page
        padding-top: 70px
        &__left
            padding: 40px 0 0 50px
        &__subtitle
            font-size: 24px
            margin-bottom: 20px
        &__text
            margin-bottom: 30px
        &__btn
            margin-left: 20px
        
        &__right
            padding: 40px 0 0 50px

    .prices
        &::after
            width: 700px
            height: 700px
        &__block
            grid-template-columns: 1fr 1fr
        &__item
            max-width: 340px
            &:last-child
                grid-column-start: 1
                grid-column-end: 3
                margin: 0 auto
        &__itemPrice
            span
                &::before
                    width: 135px
                    left: -135px
    .prices-modal
        &__block
            width: 90%
        &__content
            padding: 40px
        &__nav
            margin-bottom: 40px
        &__text
            p
                &:not(:last-child)
                    margin-bottom: 40px
    .full-constructions
        &__block
            grid-gap: 15px
        &__item
            height: 300px
        &__line
            height: 90px
        &__text
            font-size: 18px
        &__keyDesign
            font-size: 90px
            bottom: 20px
    .big-slider
        padding: 70px 0
        img
            height: 400px
        .slick-prev
            width: 180px
            height: calc(100% - 140px)
            top: 70px
        .slick-next
            width: 180px
            height: calc(100% - 140px)
            top: 70px
        .slick-dots
            display: flex
            align-items: flex-end
            width: max-content
            position: absolute
            left: 50%
            bottom: 90px
            transform: translateX(-50%)
    .design
        &__product
            display: flex
            flex-direction: column
            align-items: flex-start
        &__contentItem
            width: 100%
            max-width: 700px
            margin-top: 30px
        &__image
            display: none
        &__keyDesign
            font-size: 90px
            bottom: 20px
        &__product-tab
            span
                font-size: 20px
            &:not(:last-child)
                margin-bottom: 20px

@media (max-width: 767px)
    .service-page
        padding-top: 60px
        &__block
            width: 100%
            height: 200px
            img
                height: 100%
                object-fit: cover
        &__left
            padding: 20px 10px 0 20px
        &__subtitle
            font-size: 16px
            margin-bottom: 20px
        &__text
            font-size: 10px
            line-height: 120%
            max-width: 100%
            margin-bottom: 20px
        &__btn
            margin-left: 10px
            font-size: 10px
            svg
                margin-left: 5px
        &__right
            padding: 20px 10px 0 20px

    .prices
        padding-bottom: 60px
        padding-top: 70px
        &::after
            width: 300px
            height: 300px
        &__block
            grid-template-columns: 1fr
        &__item
            max-width: 340px
            margin: 0 auto
            &:last-child
                grid-column-start: unset
                grid-column-end: unset
                margin: 0 auto
        &__itemPrice
            span
                &::before
                    width: 123px
                    left: -123px
        &__itemTitle
            font-size: 18px
        &__itemPrice
            margin-bottom: 20px
            span
                width: 160px
                height: 36px
                line-height: 36px
                font-size: 24px
                &::before
                    width: 170px
                    left: -170px
        &__list
            li
                font-size: 14px
                line-height: 20px
        &__more
            font-size: 14px
        &__btn
            font-size: 14px
            height: 55px
            line-height: 55px
    .prices-modal
        &__image
            height: 100px
            img
                height: 100px
                object-fit: cover
        &__block
            width: 90%
            height: 90%
        &__title
            font-size: 16px
        &__content
            padding: 20px
        &__nav
            margin-bottom: 30px
            display: flex
            flex-direction: column
        &__itemPrice
            margin-top: 10px
            span
                width: 160px
                height: 36px
                line-height: 36px
                font-size: 24px
                &::before
                    width: 120px
        &__text
            h3
                font-size: 16px
            p
                font-size: 14px
                line-height: 140%
                &:not(:last-child)
                    margin-bottom: 40px
        &__close
            right: 15px
            top: 15px
    .full-constructions
        &::before
            display: none
        &__title
            font-size: 16px
            max-width: 80%
            margin-bottom: 30px
            .title__brown
                font-size: 20px
            .title__line
                top: 17px
        &__block
            grid-template-columns: 1fr
        &__keyDesign
            display: none
    .big-slider
        padding: 70px 0
        padding-top: 0
        img
            height: 200px
            margin: 0 5px
        .slick-prev
            width: 60px
            height: calc(100% - 70px)
            top: 0
        .slick-next
            width: 60px
            height: calc(100% - 70px)
            top: 0
        .slick-dots
            display: flex
            align-items: flex-end
            width: max-content
            position: absolute
            left: 50%
            bottom: 80px
            transform: translateX(-50%)
            li
                button
                    width: 14px
            .slick-active
                button
                    width: 43px
    .design
        padding: 70px 0
        &__product
            display: flex
            flex-direction: column
            align-items: flex-start
        &__contentItem
            width: 100%
            max-width: 100%
            margin-top: 30px
            padding: 40px 20px
        &__content-title
            font-size: 18px
        &__content-text
            margin-bottom: 30px
            p
                font-size: 13px
                line-height: 22px
        &__image
            display: none
        &__keyDesign
            font-size: 50px
            bottom: 30px
        &__product-tab
            span
                font-size: 18px
            svg
                width: 30px
                margin-right: 15px
            &:not(:last-child)
                margin-bottom: 20px
        &__product-tabs
            width: 100%
    .project
        padding-top: 70px
        &__keyDesign
            display: none
        &__descr
            position: static
            width: 100%
            padding: 40px 20px
            margin-top: 40px
            min-height: auto
            height: 100%
        &__subtitle
            font-size: 16px
        &__content
            font-size: 14px
            &:not(:last-child)
                margin-bottom: 25px
        &__block
            display: flex
            flex-direction: column
        &__title
            font-size: 20px
            line-height: 120%
            margin-bottom: 30px
        &__btn
            margin-left: 20px
    .project-image
        margin-top: 40px
        padding-bottom: 80px
        &::before
            display: none
        &__group
            display: grid
            grid-template-columns: 1fr 2fr
            grid-gap: 10px
            margin-bottom: 10px
            a
                img
                    height: 100%
                    object-fit: cover
        &__big
            &:not(:last-child)
                margin-bottom: 10px
        &__nav
            margin-top: 30px
        &__btn
            font-size: 10px
            margin-left: 20px
            &::after
                width: 30px
                height: 30px
                left: -30px