@font-face
    font-family: "MontRegular"
    src : url("../fonts/montserrat.woff2")
    font-display: swap

@font-face
    font-family: "MontBold"
    src : url("../fonts/montserratbold.woff2")
    font-display: swap

@font-face
    font-family: "MontLight"
    src : url("../fonts/montserratlight.woff2")
    font-display: swap

