@media (max-width: 1200px)
    .container
        max-width: 700px
    .subtitle
        font-size: 22px
        margin-bottom: 20px
    .title
        font-size: 28px
        min-height: 88px
        margin-bottom: 50px
        &__brown
            font-size: 35px
            padding-top: 10px
        &__line
            top: 32px
            &::after
                width: 30px
                height: 30px
                background: #fff
    

    @keyframes toRight
        0%
            right: 800px
        100%
            right: -70px
    @keyframes circleCreate
        0%
            right: 800px
        100%
            right: -98px

    .header
        width: 100%
        &__nav
            display: none
        &__social
            display: none
        &__humburger
            display: block
            width: 40px
            height: 40px
            svg
                fill: #fff
    .header-mobile
        position: absolute
        left: -100%
        height: 100vh
        width: 100%
        background: #fff
        top: -28px
        padding: 20px
        display: flex
        flex-direction: column
        transition: .4s
        &__nav
            display: flex
            justify-content: space-between
            align-items: center
        &__logo
            svg
                path
                    fill: #000
        &__close
            svg
                width: 25px
                height: 25px
        &__menu
            margin-top: 150px
            li
                text-align: center
                a
                    font-size: 24px
                    color: #000
                &:not(:last-child)
                    margin-bottom: 30px
        &__social
            display: flex
            justify-content: space-between
            width: 400px
            margin: 0 auto
            margin-top: auto
            margin-bottom: 50px
        &__phone,
        &__lang
            text-align: center
            display: flex
            color: #000
            font-size: 24px
            align-items: center
            svg
                margin-right: 8px
                path
                    fill: #000
    .footer
        padding-top: 40px
        &__nav
            display: flex
            grid-gap: unset
            flex-direction: column
        &__logo
            margin-bottom: 30px
            svg
                display: block
                margin: 0 auto
                width: 150px
        &__item
            text-align: center   
            &:nth-child(2)
                margin-bottom: 15px    
            &:nth-child(3)
                margin-bottom: 35px          
            li
                text-align: center
                a
                    justify-content: center
                &:not(:last-child)
                    margin-bottom: 15px
        &__phone
            display: flex
            flex-direction: column
            span
                margin: 4px 0
        &__social
            margin-top: 20px
    .breadcrumbs
        height: 180px
        &__bg
            height: 100%
        .container
            top: 130px
            width: 100%
        &__block
            flex-wrap: wrap
            width: 100%

@media (max-width: 767px)
    .container
        width: 100%
        padding: 0 15px
    .breadcrumbs
        .container
            top: 110px
    .title
        font-size: 20px
        min-height: 70px
        margin-bottom: 50px
        &__brown
            font-size: 28px
            padding-top: 10px
        &__line
            top: 22px
            &::after
                width: 24px
                height: 24px
                background: #fff
    .subtitle-small
        font-size: 16px
    .btn
        margin-left: 20px
        &::after
            width: 40px
            height: 40px
            left: -40px
    .header
        top: 14px
        &__logo
            svg
                width: 100px
    .header-mobile
        top: -14px
        &__logo
            svg
                width: 100px
        &__close
            svg
                width: 20px
                height: 20px
        &__menu
            margin-top: 80px
            li
                a
                    font-size: 20px
                &:not(:last-child)
                    margin-bottom: 20px
        &__social
            width: 100%
            margin-bottom: unset
            margin-top: 70px
        &__phone,
        &__lang
            font-size: 18px
        &__btn
            margin: 0 auto
            margin-top: 70px

    @keyframes toRight
        0%
            right: 600px
        100%
            right: -50px
    @keyframes circleCreate
        0%
            right: 600px
        100%
            right: -68px
        
    .footer
        &__logo
            svg
                width: 100px
        &__social
            width: 100%
            align-items: center
            flex-direction: column
        &__btn
            margin: 0 auto
            margin-bottom: 30px
        &__item
            li
                a, span
                    font-size: 15px
        &__phone
            span, a
                font-size: 15px
        &__scroll
            right: 15px
            font-size: 14px
            svg
                margin-right: 4px
        &__rights
            font-size: 12px

    .modal-question
        position: fixed
        top: 0
        left: 0
        height: 100vh
        width: 100%
        background: rgba(0, 0, 0, .4)
        opacity: 0
        visibility: hidden
        z-index: -10
        transition: .4s
        &__form
            width: 100%
            display: flex
            flex-direction: column
            span
                font-size: 14px
                margin-bottom: 6px
        &__title
            font-size: 22px
            line-height: 130%
            font-family: "MontBold"
            margin-bottom: 30px
            span
                color: #AE816A
        &__text
            font-size: 15px
            font-weight: 300
            margin-bottom: 30px
        
        &__input
            background: transparent
            border: none
            border-bottom: 1px solid #000
            padding-bottom: 4px
            font-size: 15px
            line-height: 22px
            color: #000
            max-width: 385px
            &::placeholder,
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &::-ms-input-placeholder,
                color: #000
            &:not(:last-child)
                margin-bottom: 30px
        &__btn
            color: #000
            margin-left: 20px
            margin-top: 15px
            span
                font-size: 15px
            &::after
                width: 51px
                height: 51px
                left: -50px
        &__block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 80%
            max-width: 500px
            padding: 30px 20px 50px 20px
            background: #fff
            height: auto
            max-height: 600px
            display: flex
            flex-direction: column
            align-items: center
        &__show
            opacity: 1
            z-index: 100
            visibility: visible
        &__close
            position: absolute
            right: 10px
            top: 10px
            cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABQSURBVHgBVYpRDYAwDESvpUKQMAmzMAkoqwQsTEL9rKwUQkL2vi7vHqnqLrIpEJUINsZsIsJnioIkAuUJOPcrfqKmpL5KGLtfR772Vd19thsdBhn0/9hG6QAAAABJRU5ErkJggg==),auto !important
            svg
                width: 15px
                height: 15px
                fill: #000